# Ignorando ambiente virtual
.venv/

# --- CONFIGURAÇÃO DE DADOS ---
# Ignora tudo dentro de data, exceto as pastas current e reference
data/*
!data/current/
!data/reference/

# Ignora o conteúdo de current e reference
data/current/*
!data/current/.gitkeep
data/reference/*
!data/reference/.gitkeep

# --- CONFIGURAÇÃO DE ARTEFATOS ---
# Ignora o conteúdo de model
model/*
!model/.gitkeep

# Ignora o conteúdo de reports
reports/*
!reports/.gitkeep

# Outros artefatos
mlruns/

# --- PYTHON ---
__pycache__/
*.pyc